# Câu hỏi: 
Liệu có thể dự đoán thời tiết của 12 tiếng sau bằng cách sử dụng thông tin thời tiết của hiện tại không?

# Import

In [30]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns # seaborn là thư viện được xây trên matplotlib, giúp việc visualization đỡ khổ hơn
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.neural_network import MLPClassifier
from sklearn import set_config
from datetime import datetime

# Đọc dữ liệu

In [2]:
raw_weather_df = pd.read_csv('raw_weather_df.csv')
raw_weather_df = raw_weather_df.drop(columns = ['Unnamed: 0'])
raw_weather_df.head()

,time,city_name,temp,pressure,humidity,clouds,wind_speed,weather_description
0,2021-01-09 00:00:00,THU DAU MOT,24.0,1011,69,20,1.54,few clouds
1,2021-01-09 01:00:00,THU DAU MOT,25.0,1012,65,98,1.54,overcast clouds
2,2021-01-09 02:00:00,THU DAU MOT,26.0,1012,65,20,1.03,few clouds
3,2021-01-09 03:00:00,THU DAU MOT,28.0,1012,57,20,2.57,few clouds
4,2021-01-09 04:00:00,THU DAU MOT,29.0,1011,51,20,1.54,few clouds

# Khám phá dữ liệu

Ý nghĩa các trường dữ liệu, theo như link API: https://openweathermap.org/api/one-call-api#list1
- time: thời gian phép đo đạc được thực hiện, tính theo giờ
- city_name: Thành phố nơi các số đo thời thiết được ghi nhận
- temp: nhiệt độ 
- pressure: áp suất không khí
- humidity: độ ẩm
- cloud: mật độ mây
- wind_speed: tốc độ gió
- weather description: đặc tả thời tiết, chi tiết các đặc tả này có thể xem tại https://openweathermap.org/weather-conditions#Weather-Condition-Codes-2

## Xem số dòng và số cột

In [3]:
raw_weather_df.shape

(1560, 8)

## Kiểm tra xem có bị lặp dòng nào không?

In [4]:
raw_weather_df.index.duplicated().sum()

0

## Xem tổng quan thông tin các trường dữ liệu

In [5]:
raw_weather_df.describe()

              temp     pressure     humidity       clouds   wind_speed
count  1560.000000  1560.000000  1560.000000  1560.000000  1560.000000
mean     24.781160  1011.043590    67.594872    32.158974     2.270968
std       3.372387     1.617146    17.125578    24.656363     1.207018
min      17.000000  1007.000000    35.000000     0.000000     0.270000
25%      22.000000  1010.000000    54.000000    20.000000     1.540000
50%      24.000000  1011.000000    68.000000    20.000000     2.060000
75%      27.000000  1012.000000    78.000000    40.000000     3.090000
max      32.610000  1015.000000   100.000000   100.000000     8.530000

In [6]:
raw_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time                 1560 non-null   object
 1   city_name            1560 non-null   object
 2   temp                 1560 non-null   float64
 3   pressure             1560 non-null   int64
 4   humidity             1560 non-null   int64
 5   clouds               1560 non-null   int64
 6   wind_speed           1560 non-null   float64
 7   weather_description  1560 non-null   object
dtypes: float64(2), int64(3), object(3)
memory usage: 97.6+ KB

Dữ liệu được lấy bằng API nên có vẻ đầy đủ

# Tiền xử lí dữ liệu

Vì mục tiêu của tụi mình là xem thử có thể dùng dữ liệu thời tiết hiện tại để dự đoán trước 12 tiếng không nên mình sẽ thực hiện tạo thêm một cột weather_description_12 để lưu mô tả thời tiết của 12 tiếng sau

In [7]:
raw_weather_df.insert(len(raw_weather_df.columns), "weather_description_12", "")
raw_weather_df.head()

,time,city_name,temp,pressure,humidity,clouds,wind_speed,weather_description,weather_description_12
0,2021-01-09 00:00:00,THU DAU MOT,24.0,1011,69,20,1.54,few clouds,
1,2021-01-09 01:00:00,THU DAU MOT,25.0,1012,65,98,1.54,overcast clouds,
2,2021-01-09 02:00:00,THU DAU MOT,26.0,1012,65,20,1.03,few clouds,
3,2021-01-09 03:00:00,THU DAU MOT,28.0,1012,57,20,2.57,few clouds,
4,2021-01-09 04:00:00,THU DAU MOT,29.0,1011,51,20,1.54,few clouds,

In [8]:
for row in range(0,raw_weather_df.shape[0]):
#     raw_weather_df['weather_description_12'][row+12] = raw_weather_df['weather description'][row]
     raw_weather_df.loc[row-12,'weather_description_12'] = raw_weather_df['weather_description'][row]
raw_weather_df

,time,city_name,temp,pressure,humidity,clouds,wind_speed,weather_description,weather_description_12
0,2021-01-09 00:00:00,THU DAU MOT,24.0,1011.0,69.0,20.0,1.54,few clouds,scattered clouds
1,2021-01-09 01:00:00,THU DAU MOT,25.0,1012.0,65.0,98.0,1.54,overcast clouds,scattered clouds
2,2021-01-09 02:00:00,THU DAU MOT,26.0,1012.0,65.0,20.0,1.03,few clouds,scattered clouds
3,2021-01-09 03:00:00,THU DAU MOT,28.0,1012.0,57.0,20.0,2.57,few clouds,scattered clouds
4,2021-01-09 04:00:00,THU DAU MOT,29.0,1011.0,51.0,20.0,1.54,few clouds,scattered clouds
...,...,...,...,...,...,...,...,...,...
-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,few clouds
-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scattered clouds
-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scattered clouds
-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scattered clouds
-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scattered clouds

Khi làm cách này ta sẽ bị dư ra bao gồm 24 dòng, bao gồm 12 dòng rỗng và 12 dòng cuối của dataframe mà cột weather_description_12 không có dữ liệu, chỉ việc bỏ các cột này

In [ ]:
raw_weather_df = raw_weather_df.dropna()
raw_weather_df = raw_weather_df[raw_weather_df['weather_description_12'] != '']

Ngoài ta ta sẽ cần loại bỏ 12 dòng cuối của mỗi thành phố vì chúng lẫn với thời tiết thành phố khác

In [25]:
weather_df = raw_weather_df[raw_weather_df['time'] <= '2021-01-13 11:00:00']
weather_df

,time,city_name,temp,pressure,humidity,clouds,wind_speed,weather_description,weather_description_12
0,2021-01-09 00:00:00,THU DAU MOT,24.0,1011.0,69.0,20.0,1.54,few clouds,scattered clouds
1,2021-01-09 01:00:00,THU DAU MOT,25.0,1012.0,65.0,98.0,1.54,overcast clouds,scattered clouds
2,2021-01-09 02:00:00,THU DAU MOT,26.0,1012.0,65.0,20.0,1.03,few clouds,scattered clouds
3,2021-01-09 03:00:00,THU DAU MOT,28.0,1012.0,57.0,20.0,2.57,few clouds,scattered clouds
4,2021-01-09 04:00:00,THU DAU MOT,29.0,1011.0,51.0,20.0,1.54,few clouds,scattered clouds
...,...,...,...,...,...,...,...,...,...
1543,2021-01-13 07:00:00,CAN GIO,28.0,1011.0,47.0,40.0,3.60,scattered clouds,few clouds
1544,2021-01-13 08:00:00,CAN GIO,28.0,1010.0,47.0,40.0,3.60,scattered clouds,few clouds
1545,2021-01-13 09:00:00,CAN GIO,28.0,1010.0,47.0,40.0,3.60,scattered clouds,scattered clouds
1546,2021-01-13 10:00:00,CAN GIO,27.0,1010.0,50.0,20.0,4.12,few clouds,scattered clouds
1547,2021-01-13 11:00:00,CAN GIO,26.0,1011.0,53.0,20.0,3.60,few clouds,scattered clouds

## Tách tập train, validate và test

In [27]:
Y = weather_df['weather_description_12']
X = weather_df.drop(columns = ['weather_description_12'])

In [28]:
X.shape

(1404, 8)

In [29]:
Y.shape

(1404,)

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, random_state = 13)

## Khám phá lại dữ liệu huấn luyện để tiền xử lí

### Xem thử cột weather_description	 có những giá trị nào

In [39]:
print(X_train['weather_description'].nunique())
print((X_train['weather_description'].value_counts(normalize=True)*100).round(2))

5
few clouds          42.12
scattered clouds    30.19
broken clouds       11.93
clear sky           11.22
overcast clouds      4.54
Name: weather_description, dtype: float64

Có vẻ là lấy thời gian khá gần nên thời tiết chủ đạo ở miền nam trong thời gian này là có mây các dạng: ít mấy, mây rải rác, mây vỡ hoặc nhiều mây hoặc trời trong xanh

5
few clouds          42.12
scattered clouds    28.50
clear sky           16.56
broken clouds        9.53
overcast clouds      3.29
Name: weather_description_12, dtype: float64